@model IEnumerable<PTPMQLbtl.Models.Danhmuchang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DANH MUC HANG</h2>

<p>
    @Html.ActionLink("THEM DANH MUC", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tenhang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donvitinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dongia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenhang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donvitinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dongia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Mathang }) |
            @Html.ActionLink("Details", "Details", new { id=item.Mathang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Mathang })
        </td>
    </tr>
}

</table>
