@model PTPMQLbtl.Models.Chitietdonhang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Chitietdonhang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Machitietdonhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machitietdonhang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Madonhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Madonhang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mathang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mathang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dongia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Machitietdonhang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
