@model IEnumerable<PTPMQLbtl.Models.Chitietdonhang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Them chi tiet don hang", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Machitietdonhang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Madonhang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mathang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dongia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <th>
        @Html.DisplayNameFor(model => model.Machitietdonhang)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.Madonhang)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mathang)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Dongia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Soluong)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Machitietdonhang }) |
        @Html.ActionLink("Details", "Details", new { id = item.Machitietdonhang }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Machitietdonhang })
    </td>
</tr>
}

</table>
