@model IEnumerable<PTPMQLbtl.Models.Donhanghoa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Don hang hoa </h2>

<p>
    @Html.ActionLink("Them don hang","Creat")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tendonhang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sodonhang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yeucau)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tendonhang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sodonhang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yeucau)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Madonhang }) |
            @Html.ActionLink("Details", "Details", new { id=item.Madonhang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Madonhang })
        </td>
    </tr>
}

</table>
