@model IEnumerable<PTPMQLbtl.Models.Donhang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DON HANG</h2>

<p>
    @Html.ActionLink("THEM DON HANG", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Madonhang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaydathang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaydathang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Madonhang }) |
            @Html.ActionLink("Details", "Details", new { id=item.Madonhang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Madonhang })
        </td>
    </tr>
}

</table>
