@model IEnumerable<PTPMQLbtl.Models.Nhomhang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NHOM HANG</h2>

<p>
    @Html.ActionLink("THEM NHOM HANG", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tennhomhang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tennhomhang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mota)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Manhomhang }) |
            @Html.ActionLink("Details", "Details", new { id=item.Manhomhang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Manhomhang })
        </td>
    </tr>
}

</table>
